$debug: "true";
$which-env: local;
$scaffold-lite: false;
$project_number: 13873;
$year: 2016;
$image-widths: (320, 640, 1024);
$services-default: english;
$services-others: SHARED_CONFIG_PLACEHOLDER;
