.autocomplete-suggestions {
    color: $mine_shaft;
    background: $white;
    overflow: auto;
    border-bottom: 1px solid $dove_gray;
}

.autocomplete-suggestion {
    border: 1px solid $dove_gray;
    border-bottom: 0;
    padding: 13px 10px;
    overflow: hidden;
    cursor: pointer;
    font-size: 1em;
    strong {
        font-weight: bold;
    }
}

.autocomplete-selected {
    background-color: $botticelli;
}

.autocomplete-group {
    background-color: $gallery;
    padding: 5px;
}